@charset "UTF-8";

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        width: 90vw;
    }
    main::after{
        content: "Essa impressão foi realizada pelo site www.hahaha.com";
        text-decoration: underline;
        font-size: 1.2em;
    }
    h1{
        font-size: 1.5em;
        text-shadow: 1px 1px black;
        text-shadow: none;
        color: black
    }

    
    img#tel{display: none;}
img#tablet{display: none;}
img#computador{display: none}
img#tv{display: none;}
img#impressora{display: block;}

}
@media screen and (min-width:768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/mq-tablet.jpg);
    }
    h1{
        background-color: rgba(0, 0, 0, 0.521);
        color: white;
    }
    img#tel{display: none;}
img#tablet{display: block;}
img#computador{display: none}
img#tv{display: none;}
img#impressora{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/mq-pc.jpg);}
        h1{
            background-color: rgba(0, 0, 0, 0.521);
            color: white;
        }

img#tel{display: none;}
img#tablet{display: none;}
img#computador{display: block}
img#tv{display: none;}
img#impressora{display: none;}
}
@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/mq-tv.jpg);
        background-position: bottom;
    }
    h1{
        background-color: rgba(0, 0, 0, 0.521);
        color: white;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.61), rgba(179, 174, 174, 0.575));
    }
    img#tel{display: none;}
img#tablet{display: none;}
img#computador{display: none}
img#tv{display: block;}
img#impressora{display: none;}
}